* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* color: #9892ff; */
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 2px !important;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6c63ff;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background-color: #c6ccdb;
}
